<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TP ENI</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" href="/css/general.css">
<link rel="icon" href="/images/logoEni.png">
</head>
<body>
<!-- Navbar -->
<div th:replace="fragments/navbar :: navbar"></div>
	<figure class="text-center mt-5">
		<blockquote class="blockquote">
		<p style="text-align: center" data-th-text="#{index.h1}"></p>
		</blockquote>
		<figcaption class="blockquote-footer">
		TOP 100 des meilleurs <cite title="Source Title">Films</cite>
		</figcaption>
		<img src="/images/hellokitty.png" class="avatar rounded-5 mt-3" alt="">
	</figure>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>