<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TP ENI</title>
<link rel="stylesheet" href="/css/general.css">
<link rel="stylesheet" href="/css/tp-form.css">
<link rel="icon" href="/images/logoEni.png">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<!-- Navbar -->
<div th:replace="fragments/navbar :: navbar"></div>
	<main class="container mt-5">
		<div class="containerForm">
			<form action="/login" method="post">
				<h3 data-th-text="#{viewloginform.h1}">
				</h3>
				<hr>
				<ul class="flex-outer">
					<li><label for="inputLogin" data-th-text="#{viewloginform.login}"></label> <input required
						type="text" id="inputLogin" name="email" class="form-control"></li>
					<li><label for="inputPwd" data-th-text="#{viewloginform.password}"></label> <input
						required type="password" id="inputPwd" name="password" class="form-control"></li>
					<li>
						<button type="submit" class="btn btn-success mt-2" data-th-text="#{viewloginform.submit}"></button>
					</li>
				</ul>
			</form>
		</div>
	</main>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>